:root {
    --main-accent: #57B4D3;
    /* not actually the nav color */
    --main-nav: #E4E4E4;
}

body {
    min-height: 100vh;
}

.uk-logo {
    max-height: inherit;
    background-repeat: no-repeat;
}

.uk-navbar-nav li a {
    color: var(--main-accent);
    font-size: 1.25em;
}

#hero {
    height: 80vh;
}

#hero h1 {
    margin-left: 5vw;
    font-size: 3em;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px var(--main-accent);
}

#call {
    background-color: var(--main-nav);
    color: var(--main-accent);
    text-align: center;
    padding: 50px 0;
    margin: 4vh auto;
}

#call button {
    background-color: white;
    margin-top: 4vh;
    padding: 1em 5em;
    border-radius: 18px;
}

#call button a {
    color: var(--main-accent);
    font-size: 1.7em;
}

.cards img {
    height: 30vh;
}

#brand {
    background-color: var(--main-accent);
    text-align: center;
}

#brand h2, #brand h5 {
    color: white;
}

#brand img {
    max-height: 75vh;
}

span.step {
    background: var(--main-nav);
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: var(--main-accent);
    display: inline-block;
    font-weight: bold;
    line-height: 3em;
    margin-right: 5px;
    text-align: center;
    width: 3em;
}

.applications button {
    background-color: var(--main-nav);
    border-radius: 1.25em;
}

.applications a {
    color: var(--main-accent);
}

.bold {
    font-weight: bolder;
    font-size: 1.2em;
}

#app-hero {
    height: 45vh;
}

#app-hero a {
    color: white;
}

#app-hero button {
    margin: 10px auto;
    background-color: var(--main-accent);
    border-radius: 1.5em;
}

#app-hero h1 {
    color: var(--main-accent);
    text-shadow: 1px 1px 2px var(--main-nav);
}

.danger-button {
    color: white;
}

.center {
    text-align: center;
}

.app-detail h1, .app-detail h2 {
    font-weight: bolder;
}

.app-detail {
    margin-top: 8vh;
    min-height: 10vh;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-container button {
    border-radius: 1em;
}

.delete-text {
    padding-top: 1em;
}

.teal-text {
    color: var(--main-accent);
}

.app-form {
    margin-top: 8vh;
}

.app-fan .ldBar-label:after {
    content: "";
    font-size: 1em;
}

.app-fan {
    color: black;
}

.login-div {
    margin-top: 25vh;
}

#login-button {
    background-color: var(--main-accent);
    border-radius: .5em;
}

.interview-info {
    margin-top: 0px;
}

.interview-title {
    margin-bottom: 10px;
    color: var(--main-accent);
}

.update-btn {
    margin-top: 0px;
    background-color: rgb(212, 212, 86);
}

.update-btn:hover {
    background-color: rgb(223, 223, 71);
}

.uk-table-hover tbody tr:hover {
    background: var(--main-accent);
}

.sign_up_container {
    width: 100vw;
    margin: 0 auto;
}

.helptext {
    visibility: hidden;
}

.sign_up_container h1 {
    text-align: center;
    color: var(--main-accent);
}

.sign_up .btn {
    width: 100px;
    height: 20px;
    color: white;
    background-color: var(--main-accent);
}

.sign_up {
    margin: 60px;
}

.sign_up p {
    margin: 1vmin;
}

.app-text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    padding: 2.5em 2.5em;
}


.jobsearch {
    width: 190px;
    height: 85px;
    margin: 5px;
}

#linkedin {
    width: 140px;
    height: 70px;
}

.logo-container {
    display: block;
}

.glassdoor {
    display: none;
}

.modal-div {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 110%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6);
}

.jobs-modal-content {
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--main-accent);
    width: 80%;
    min-height: 25%;
    border-radius: 1.5em;
  }
.jobs-modal-content h2 {
    color: var(--main-accent);
}
footer {
    background-color: var(--main-nav);
    text-align: center;
    color: var(--main-accent);
    margin-top: 10vh;
    font-style: italic;
}


@media only screen and (min-width: 530px) {
    .logo-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .glassdoor {
        display: inline-block;
    }
}