:root {
    --main-accent: #57B4D3;
    /* not actually the nav color */
    --main-nav: #E4E4E4;
}

body {
    min-height: 100vh;
}

.uk-logo {
    max-height: inherit;
    background-repeat: no-repeat;
}

.uk-navbar-nav li a {
    color: var(--main-accent);
    font-size: 1.25em;

}

#hero {
    height: 80vh;
}

#hero h1 {
    margin-left: 5vw;
    font-size: 3em;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px var(--main-accent);
}

#call {
    background-color: var(--main-nav);
    color: var(--main-accent);
    text-align: center;
    padding: 50px 0;
    margin: 4vh auto;
}

#call button {
    background-color: white;
    margin-top: 4vh;
    padding: 1em 5em;
    border-radius: 18px;

}

#call button a {
    color: var(--main-accent);
    font-size: 1.7em;

}

.cards img {
    height: 30vh;
}

#brand {
    background-color: var(--main-accent);
    text-align: center;
}

#brand h2,
#brand h5 {
    color: white;
}

#brand img {
    max-height: 75vh;
}

span.step {
    background: var(--main-nav);
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: var(--main-accent);
    display: inline-block;
    font-weight: bold;
    line-height: 3em;
    margin-right: 5px;
    text-align: center;
    width: 3em;
}

.applications button {
    background-color: var(--main-nav);
    border-radius: 1em;
}

.applications a {
    color: var(--main-accent);
}

.bold {
    font-weight: bolder;
    font-size: 1.2em;
}

#app-hero {
    height: 45vh;
}

#app-hero a {
    color: white;
}

#app-hero button {
    margin: 10px auto;
    background-color: var(--main-accent);
    border-radius: 1.5em;
}

#app-hero h1 {
    color: var(--main-accent);
    text-shadow: 1px 1px 2px var(--main-nav);
}

.danger-button {
    color: white;
}

.center {
    text-align: center;
}

.app-detail h1,
.app-detail h2 {
    font-weight: bolder;
}

.app-detail {
    margin-top: 8vh;
    min-height: 10vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-text {
    padding-top: 1em;
}

.teal-text {
    color: var(--main-accent);
}
