{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main_app/img/favicon.png' %}" type="image/png">
    <title>Job-Search Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'main_app/styles/loading-bar.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/styles/main.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script defer src="{% static 'main_app/js/vue.js' %}" ></script>
    <script defer src="{% static 'main_app/js/app_vue.js' %}"></script>
    <script src="{% static 'main_app/js/loading-bar.min.js' %}"></script>

    
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/"><img class="uk-navbar-item uk-logo" src="{% static 'main_app/img/nav.png' %}" alt="navigation logo"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                {% comment %}
                <!-- fix url here -->
                <!-- <li><a href="{% url 'toys_create' %}">Add Application</a></li> -->
                {% endcomment%}
                <li><a href="{% url 'applications_index' %}">Applications</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>



    <div class="uk-grid">
        <div class="uk-width-2-3@m center app-detail">
            <h1 id="vue-search">{{ application.title|upper }}</h1>
            <h2>{{ application.company|upper }}</h2>
            <h4>{{ application.get_status_display }}</h4>
            <h4>{{ application.date_applied|naturalday|capfirst }}</h4>
            <h4>${{ application.salary|intcomma }}</h4>
        
            <div class="myBar label-center uk-align-center app-fan"
            >
            Interest Level:
            <br>
            </div>
            <h4>{{ application.description }}</h4>
            <h4>{{ application.notes }}</h4>
            <hr class="uk-divider-icon">
            <button class="uk-button uk-button-danger uk-align-center"><a class="danger-button"
                    href="{% url 'application_update'  application.id %}">Update</a></button>
            <button class="uk-button uk-button-danger uk-align-center"><a class="danger-button"
                    href="{% url 'application_delete'  application.id %}">Delete</a></button>
        </div>
        <div id="app" class="uk-width-1-3@m label-none app-detail">
            <section v-if="errored">
                <p>sorry no info</p>
            </section>
            <section v-else>
                <div v-if="loading">Loading...</div>
                <div v-else
                >
                <!-- <template> -->
                <h2>More jobs from GitHub:</h2>
            <ul class="uk-list">
                <li v-for="job in info" :key="job.id" >
                    <a :href="job.url" target="_blank">${ job.company }, ${ job.title }, ${ job.location }</a>
                </li>
            </ul>
                </div>
            <!-- </template> -->
            </section>
        </div>
    </div>
    <div id="interest" style="display: none;">
        {{application.interest_level}}
    </div>
    
</body>
<script defer>
    var interest = document.getElementById('interest').innerText

    var bar = new ldBar(".myBar", {
        "stroke": "#57B4D3",
        "stroke-width": 10,
        "preset": "fan",
        "min": 0,
        "max": 10,
        "value" : interest

    })
</script>

</html>