{% extends 'base.html' %}

{% block content %}
{% if object %}
<div class="uk-grid app-form">
  <h1 class="uk-align-center">Edit Application</h1>
</div>
{% else %}
<div class="uk-grid app-form">
  <h1 class="uk-align-center">Add Application</h1>
</div>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <table class="uk-table">
    {{ form.as_table }}
  </table>

  <input type="submit" value="Submit!" class="uk-button uk-button-secondary uk-align-center">
</form>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>
  $(function () {
    $('#id_date_applied').attr('autocomplete', 'off')
    $('#id_date_applied').datepicker()
  })
</script>
{% endblock %}