{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main_app/img/favicon.png' %}" type="image/png">
    <title>Job-Search Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'main_app/styles/main.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="{% static 'main_app/js/vue.js' %}" ></script>
    
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/"><img class="uk-navbar-item uk-logo" src="{% static 'main_app/img/nav.png' %}" alt="navigation logo"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                {% comment %}
                <!-- fix url here -->
                <!-- <li><a href="{% url 'toys_create' %}">Add Application</a></li> -->
                {% endcomment%}
                <li><a href="{% url 'applications_index' %}">Applications</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>



<div class="uk-grid">
    <div class="uk-width-2-3@m center app-detail">
        <h1>{{ application.title|upper }}</h1>
        <h2>{{ application.company|upper }}</h2>
        <h4>{{ application.get_status_display }}</h4>
        <h4>{{ application.date_applied|naturalday|capfirst }}</h4>
        <h4>${{ application.salary|intcomma }}</h4>
        <h4>Interest Level: {{ application.interest_level }}</h4>
        <h4>{{ application.notes }}</h4>
        <hr class="uk-divider-icon">
        <button class="uk-button uk-button-danger uk-align-center"><a class="danger-button"
                href="{% url 'application_delete'  application.id %}">Delete</a></button>
    </div>
    <div id="app" class="uk-width-1-3@m center app-detail" style="background-color: plum;">
        <section v-if="errored">
            <p>sorry no info</p>
        </section>
        <section v-else>
            <div v-if="loading">Loading...</div>
            <div v-else
                 v-for="job in info"
            >
        {{ job.company }}
        </div>
        </section>
    </div>
</div>


<script>
const options = {
  url: 'https://jobs.github.com/positions.json?search=node',
  method: 'GET',
  headers: {
    'Content-Type': 'application/json;charset=UTF-8',
  }}

new Vue({
    el: '#app',
    data () {
        return {
            info: null,
            loading: true,
            errored: false
        }
    },
    filters: {
    },
    mounted () {
        axios(options)
        .then(response => {
            console.log(response)
        })
        .catch(error => {
            console.log(error)
            this.errored = true.data
        })
        .finally(() => this.loading = false)
    }
})
</script>

</body>

</html>