{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main_app/img/favicon.png' %}" type="image/png">
    <title>Job-Search Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'main_app/styles/loading-bar.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/styles/main.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="{% static 'main_app/js/loading-bar.min.js' %}"></script>
    
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/"><img class="uk-navbar-item uk-logo" src="{% static 'main_app/img/nav.png' %}" alt="navigation logo"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                {% comment %}
                <!-- fix url here -->
                <!-- <li><a href="{% url 'toys_create' %}">Add Application</a></li> -->
                {% endcomment%}
                <li><a href="{% url 'applications_index' %}">Applications</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    
    
</body>

</html>